<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ExportDataConnectionString" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="AutoResizeColumns" value="false"/>
    <add key="SelectTopNRowsCount" value="1000"/>
    <add key="BulKCopyBatchSize" value="1000000"/>
    <add key="BulKCopyNotifyAfter" value="1000"/>
  </appSettings>
</configuration>
