<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.TextEditor.Extended" version="4.2.4" targetFramework="net452" />
  <package id="System.Composition" version="1.4.1" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.4.1" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.4.1" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.4.1" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.4.1" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.4.1" targetFramework="net472" />
</packages>